:root {
  --main-color: #10cab7;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

/* Start of Headr */
.header {
  padding: 0 20px;
  box-shadow: -2px -10px 20px 0px;
  z-index: 1;
  position: relative;
}

.logo {
  letter-spacing: 3px;
  font-size: 28px;
  font-weight: 600;
}
.logo > span {
  color: red;
  font-family: cursive;
  font-size: 30px;
  font-weight: 900;
}

.header .contenr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header .links {
  position: relative;
}

.header .contenr .links .icon {
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  height: 21px;
  justify-content: flex-end;
}

.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
}

.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}

.header .links .icon span:first-child {
  width: 100%;
  transition: 0.3s;
}

.header .links .icon span:nth-child(2) {
  width: 60%;
}

.header .links .icon span:last-child {
  width: 100%;
}

.header .links ul {
  background-color: #f6f6f6;
  min-width: 200px;
  right: 0;
  position: absolute;
  list-style: none;
  top: calc(100% + 15px);
  margin: 0;
  padding: 0;
  display: none;
  z-index: 1;
}

.header .links:hover ul {
  display: block;
}

.header .links ul::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  border-width: 10px;
  top: -20px;
  right: 5px;
}

.header .links ul li a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: #333;
  transition: 0.3s;
}

.header .links ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.header .links ul li a:hover {
  padding-left: 25px;
}

/* Start of landeing */

.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  flex-wrap: wrap;
  overflow: hidden;
}
.landing img {
  width: 100%;
}
.landing .intro-text {
  font-size: 25px;
}
@media (max-width: 1185px) {
  .landing .intro-text {
    text-align: center;
  }
}

.landing .intro-text h1 {
  font-weight: 500;
}
.landing .intro-text h1 > span {
  color: red;
  font-weight: 700;
}

/* Start of category */
.Categories h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 3px;
}
.category {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
}
@media (max-width: 760px) {
  .category {
    flex-direction: column;
    gap: 25px;
  }
}
.category div {
  text-align: center;
}
.category div img {
  width: 65%;
  border-radius: 50%;
}
.category div h2 {
  margin: 20px 0;
  font-size: 25px;
  font-weight: 700;
}
.category div button {
  font-size: 17px;
  padding: 15px 15px;
  font-weight: 600;
  background-color: RED;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

/* start of featured_product */
.featured_product {
  background-color: #dae0e7;
  padding: 70px 0;
}
.featured_product .products {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
@media (max-width: 1000px) {
  .featured_product .products {
    flex-direction: column;
    gap: 25px;
  }
}
.featured_product h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 3px;
}
.featured_product .product:hover {
  box-shadow: 0px 0px 13px 0px;
}
.featured_product .product {
  flex-basis: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  gap: 20px;
  transition: 0.2s;
}

.featured_product .product img {
  width: 300px;
  height: 300px;
}
.featured_product .product .rate {
  display: flex;
  gap: 35px;
}
.gold {
  color: gold;
}
.gray {
  color: gray;
}

.featured_product .product .rate span:nth-child(2) {
  opacity: 0.5;
  font-size: 17px;
}
.featured_product .product h3 {
  font-size: 35px;
  padding: 10px 0;
}
.featured_product .product p {
  padding: 20px 0;
  opacity: 0.5;
}

/* start of footer */
footer {
  background-color: #212934;
  color: #cfd6e1;
}
footer .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 760px) {
  footer .row {
    flex-direction: column;
    align-items: flex-start;
  }
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 22px;
  padding: 15px;
}
footer .col h2 {
  margin: 0px 0px 29px 0;
  color: white;
}
footer .col span {
  color: red;
}
footer .col a {
  color: #cfd6e1;
  text-decoration: none;
  transition: 0.2s;
  margin-bottom: 15px;
}
footer .col a:hover {
  color: RED;
}

footer .col1 p {
  margin-bottom: 15px;
}
footer .row2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0;
}
@media (max-width: 555px) {
  footer .row2 {
    flex-direction: column;
    gap: 25px;
  }
}
footer .row2 .social a {
  margin-right: 25px;
  font-size: 30px;
  color: #cfd6e1;
  transition: 0.3s;
}
footer .row2 .social a:hover {
  color: RED;
}
footer .row2 .contact {
  display: flex;
}
footer .row2 input {
  padding: 10px 10px;
  background-color: inherit;
  color: #cfd6e1;
  border: 1px solid #47494b;
  outline: none;
}
footer .row2 button {
  font-size: 17px;
  padding: 10px 10px;
  font-weight: 600;
  background-color: red;

  border: none;
  color: white;
  cursor: pointer;
}

/* end of footer */

/* Store badg------------------------------------------------------------------------------------ */

.store {
  display: flex;
  padding: 49px 15px;
  gap: 20px;
}
@media (max-width: 535px) {
  .store {
    flex-direction: column;
  }
}
.store .nav {
  padding: 5px;
  padding: 5px;
  text-align: center;
}
.store .nav div {
  margin-bottom: 15px;
}
.store .nav div h3 {
  margin-bottom: 10px;
  font-size: 22px;
}
.store .nav div p {
  margin-bottom: 7px;
}
.store .nav div p a {
  text-decoration: none;
  color: gray;
  font-size: 18px;
}
.store .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.store .content ul {
  display: flex;
  gap: 21px;
  padding: 20px 10px;
  font-size: 20px;
}
.store .content ul li a {
  color: black;
}
.store .content .cards {
  display: flex;
  flex-direction: column;
}
.store .content .cards .allcol {
  display: flex;
  width: min-content;
  margin: 20px;
}
@media (max-width: 1191px) {
  .store .content .cards .allcol {
    flex-direction: column;
    gap: 25px;
  }
}
.store .content .card {
  box-shadow: -1px 1px 14px -1px rgba(0, 0, 0, 0.75);
  margin: 1%;
  min-width: 316px;
}
.store .content .card .img {
  position: relative;
  overflow: hidden;
}
.store .content .card .img .icon {
  width: 100%;
  height: 99%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #0000004d;
  overflow: hidden;
  opacity: 0;
  transition: 0.2s;
}
.store .content .card:hover .img .icon {
  opacity: 1;
}
.store .content .card .img .icon a {
  top: 26%;
  left: 42%;
  position: relative;
  font-size: 19px;
  color: white;
  background-color: red;
  width: fit-content;
  padding: 8px;
  border-radius: 50%;
}
.store .content .card .img img {
  height: 300px;
  width: 100%;
}
.store .content .card h3 {
  text-align: center;
  font-size: 22px;
}
.store .content .card p {
  opacity: 0.7;
  margin: 10px;
  text-align: center;
  font-size: 17px;
}
.store .content .card span {
  margin: 20px auto;
  width: fit-content;
  display: block;
}
.active {
  background-color: red;
  padding: 5px 10px;
  border-radius: 6px;
  color: white !important;
}
/* start about --------------------------------------------------+ */
.about {
  display: flex;
  align-items: center;
  background-color: red;
  color: white;
  padding: 20px;
}
@media (max-width: 760px) {
  .about {
    flex-direction: column;
    gap: 30px;
  }
}
.about .text {
  width: 100%;
  flex: 1;
  font-size: 20px;
}
.about .text p {
  font-weight: 600;
}

.about .img {
  flex: 1;
}

.about .img img {
  width: 100%;
}
/* --------------------------- */
.serv {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
}
.serv h1 {
  font-size: 48px;
  font-weight: 500;
}
.serv .cards {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.serv .cards .card {
  box-shadow: 1px 1px 7px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 250px;
  height: 200px;
  justify-content: space-around;
  transition: 0.2s;
}
.serv .cards .card:hover {
  background-color: red;
  color: white;
}
.serv .cards .card i {
  font-size: 45px;
  color: red;
  transition: 0.2s;
}
.serv .cards .card:hover i {
  color: white;
}

/* -------------------------- */
.brands {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
}
.brands h1 {
  font-size: 45px;
  font-weight: 500;
}

.brands div {
  display: flex;
  justify-content: center;
  gap: 4%;
}
.brands div img {
  width: 7%;
  filter: grayscale(1);
  transition: 0.2s;
}
@media (max-width:480px) {
  .brands div img{
    width: 20%;
  }
}
.brands div img:hover {
  filter: none;
}
